.Cont_Prin{
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 2%;
  margin-top: 2%;
}
.Cont_Derecho{
  display: grid;
  grid-template-rows: auto;
  padding: 2%;
  border-radius: 15px;
  border: 2px solid black;
  height: auto;
  min-height: 500px;
}
.Cont_Izquierdo{
  display: grid;
  grid-template-rows: auto;
  padding: 2%;
  border-radius: 15px;
  border: 2px solid black;
  height: auto;
  min-height: 500px;
}