.Contenedordos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
}
.Contenedoruno{
    display: grid;
    grid-template-columns: 7fr 1fr;
}
.xde{
    text-align: center;
}
.header-accesorios{
    text-align: center;
    background-color: #f3e5f5;
    box-shadow: 1px 2px 3px rgb(201, 201, 201);
    padding: 15px;
}