.Titulo{
    margin-left: 1.5%;
    margin-top: 2%;
}
.ContenedorPrincipal{
    width: 100%;
    height: auto;
    display: flex;

}
.ContenedorIzquierda{
text-align: center;
margin-top: 6%;
margin-right: 3.5%;
}
.InputBuscar{
    margin-top: 20px;
    margin-bottom: 25px;
    width: auto;
    height: 30px;
    border-radius: 10px;
    border: 2px solid black;
    padding-left: 5px;
    font-size: 20px;
}
.BotonBuscador{
    width: auto;
    height: 30px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgb(116, 106, 254);
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
}


