.title_product_carousel{
    width: 100%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 4vh;
    display: flex;
    justify-content: center;
    background-color: #eee5ff;
}
.title_product_carousel p{
    width: 30%;
    padding-bottom: 2vh;
    ;
}