.Contenedor{
    width: 100%;
    height: auto;
    border: 0.5px solid rgb(226, 226, 226);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1.5fr 1fr;
    padding: 13px;
    margin-top: 15px;
    box-shadow: 4px 4px 2.5px rgb(155, 155, 155);
    background-color: rgb(253, 249, 255);
}
.Contenedor:hover{
    box-shadow: 4px 4px 5px rgb(103, 103, 103) ;
    transition: box-shadow 0.3s ease;
}
