.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px; /* separación entre input y botón */
  margin-top: 30px;
  margin-left: 2%;
}
.boton {
    width: 5%;
    background-color: rgb(113, 113, 239);
    border-radius: 5px;
    cursor: pointer;
    height: 4vh;
}
