.Cont_Body {
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 1.5%;
}
.Cont_Inventario{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
}
.Cont_Filtrar{
   display: grid;
   grid-template-columns: auto;
}
.Cont_Header{
    display: flex;
}

h1{
    text-align: center;
    margin-top: 2%;
}