.Box{
    display: flex;
    max-height: 200px;
    height: 100%;
    width: 90%;
    border: solid 1px black;
    border-radius: 10px;
    margin: 10px;
}
.unlorem{
    flex-direction: column;
    width: 100%;
}
.parrafos{
    padding-left: 12%;
    padding-top: 3%;
}
.xd{
    width: 100%;
    text-align: left;
    margin-top: 7%;
    padding-left: 12%;
    margin-bottom: 5%;
}
.imagen{
    width: auto;
    height: 85%;
    border-radius: 10px;
    margin: auto;
    margin-left: 5%;
}